/*contenedor principal*/
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*navbar*/
.navbar{
    display: inline;
}

.logonavbar > img{
    width: 435px;
    height: 91px;
    object-fit: contain;
    padding-right: 92px;
}

/*redes sociales navbar*/
.Elipse-1-copia-3 {
    width: 50px;
    height: 50px;
    background-color: #fff200;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

/*Cuadrito negro navbar*/
.Rectangle-1{
    width: 90px;
    height: 91px;
    background-color: #000000;
}

/*Clase de rectángulo difuminado*/
.TFDPNQXWBFCE5JIQBOM2KFH2EI{
    width: 656px;
    height: 250px;
    background-blend-mode: multiply;
    background-image: linear-gradient(to top, #000000, #ffffff);
}

/*Rectángulo negro de cada sección*/
.Rectangle-2-copy{
    width: 656px;
    height: 217px;
    background-color: #1d1d1b;
}

.Rectangle-2-copy-2{
    width: 656px;
    height: 335px;
    background-color: #1d1d1b;
}

.DATABORDER {
    width: 750px;
    height: 1491px;
    background-color: #ffffff;
}

.spacebetween{
    margin-bottom: 100px;
}

/*.move-top{
    margin-bottom: 1000px;
}*/

/*Clases para ajustar el texto de cada sección*/
.Consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt {
    width: 554px;
    height: 60px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ffffff;
}

.modify-text{
    text-align: center;
    /*top right down left*/
    padding: 28px 0 0 45px;
}

.modify-text2{
    text-align: center;
    /*top right down left*/
    padding: 80px 0 0 45px;
}
  
  .Consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt .text-style-1 {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.75px;
}
  
  .Consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt .text-style-2 {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.9px;
}
  
  .Consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt .text-style-3 {
    font-size: 18px;
    letter-spacing: 0.9px;
}

/*cuadritos de borde blanco debajo del texto*/
.Rectangle-3-copy-2 {
    width: 71px;
    height: 60px;
    border: solid 2px #e3f3e4;
    /*background-color: #e3f3e4;*/
}

/*id del div que contiene a las cajitas de borde blanco*/
#box-container{
    align-items: center;
    margin-left: 50px;
}

.modify-rectangle{
    align-self: inherit;
    float: left;
    margin-top: 20px;
    margin-left: 25px;
}

.modify-rectangle2{
    align-self: inherit;
    float: left;
    margin-top: 38px;
    margin-left: 25px;
}

  .Proyecto-titulo{
    width: 271px;
    height: 200px;
    font-size: 55px;
    font-family: Montserrat;
    font-weight: bold;
    font-stretch: normal;
    text-align: left;
    color: #ffffff;
  }

  .Proyecto-titulo2{
    width: 271px;
    height: 30px;
    font-size: 49px;
    font-family: Montserrat;
    font-weight: bold;
    font-stretch: normal;
    text-align: left;
    color: #ffffff;
  }

  .modify-title{
      padding: 16px 0 60px 25px;
      /*margin-top: 0px;
      margin-bottom: 100px;*/
  }

  .modify-title2{
    padding: 10px 0 0 25px;
  }

/*Barra amarilla que va arriba del título de cada sección*/

.Rectangle-3-copy-7 {
  width: 553px;
  height: 5px;
  /*margin: 8px 0 16px 23px;*/
  background-color: #d4ca05;
}

.modify-yellowline{
  padding-top: 64px;
}

.modify-yellowline2{
  padding-top: 59px;
}

